<div class="d-flex justify-content-between mx-5">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" aria-current="home" href="">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
  </ul>
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" (click)="loginAction()">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="signupAction()">Signup</a>
    </li>
  </ul>
  
</div>
